.masthead {
  /*
  background-color: #e0f0f5;
  border-bottom: 1px solid #badee9;
  */
  background-color: $base00;
}

.masthead a.site-title {
  color: white;
  font-size:1.5em;
  text-decoration: none;
}

.masthead a.site-title:active {
  color: white;
  text-decoration: none;
}

.masthead a.site-title:hover {
  color: white;
  text-decoration: none;
}

.masthead a.site-title:visited {
  color: white;
  text-decoration: none;
}

.site-subtitle {
  display: block;
  font-size: $type-size-8;
  font-weight: normal;
}
