.greedy-nav {
    background: inherit;
}

.nav__list .nav__items {
    a {
        color: $navigation-text-color;
    }

    .active {
        color: $navigation-active-color;
        font-weight: normal;
    }
}

.nav__list .nav__items li ul li {
    font-size: .8em;
}

.nav__sub-title {
    border-bottom: 0px;
    font-size: 1em;
    font-weight: normal;
    padding: 0px;
    text-transform: uppercase;
}
