div.highlighter-rouge {
  font-size: 1em;
}

.page__content {
  :not(pre) > code {
    background-color: white;
    border:1px solid #e8e8e8;
    border-radius: $border-radius;
    color: deeppink;
    font-size: 1em;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    padding-left: 0.3rem;
    padding-right: 0.3rem;

    &::before,
    &::after {
      letter-spacing: 0em;
      content: none;
    }
  }

  a {
    &:has > code
    {
      color: deeppink;
    }
  }
}

.highlight {
  .c1 { color: lightslategray; }
  .cm { color: lightslategray; }
  .cp { color: skyblue; }
  .k  { color: skyblue; }
  .kt { color: skyblue; }
  .mh { color: greenyellow; }
  .mi { color: greenyellow; }
  .n  { color: white; }
  .nb { color: skyblue; }
  .nf { color: white; }
  .o  { color: skyblue; }
  .p  { color: white; }
}
